accounts/__pycache__/
accounts/tests/__pycache__/

boards/__pycache__/

boards/.DS_Store
boards/tests/__pycache__/
boards/templatetags/__pycache__/

boards/templatetags/.DS_Store
boards/migrations/__pycache__/

.DS_Store
pyproject/__pycache__

pyproject/.DS_Store

db.sqlite3
