accounts/__pycache__/
accounts/migrations/
accounts/tests/__pycache__/
accounts/__init__.py

tests/__init__.py

boards/__pycache__/
boards/__init__.py
boards/.DS_Store
boards/tests/__pycache__/
boards/tests/__init__.py
boards/templatetags/__pycache__/
boards/templatetags/__init__.py
boards/templatetags/.DS_Store
boards/migrations/__pycache__/


.DS_Store
pyproject/__pycache__
pyproject/__init__.py
pyproject/.DS_Store
